[phases.setup]
nixPkgs = ["nodejs", "python311"]

[phases.install]
cmds = [
    "npm install",
    "rm -rf dist || true",
    "npm run build",
    "pip install --upgrade pip",
    "pip install -r requirements.txt"
]

[start]
cmd = "gunicorn wsgi:application --chdir ./src/ --bind 0.0.0.0:$PORT"

